[Unit]
Description=NDGA Celery Beat Scheduler
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/srv/ndga/current
EnvironmentFile=/srv/ndga/current/.env.prod
Environment=DJANGO_SETTINGS_MODULE=core.settings.prod
ExecStart=/srv/ndga/venv/bin/celery -A core.celery app beat -l info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
